.js-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.js-movies ul,
.js-caracters ul{
  padding-left: 0;
}

.custom-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.custom-list {
  margin-bottom: 20px;
}

.custom-card {
  display: flex;
  flex-direction: column;
}

.custom-button-more {
  align-self: flex-end;
  margin-top: auto;
}

.js-card {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}

.custom-badge {
  white-space: normal;
}

.custom-pages {
  margin-bottom: 20px;
}
